div.content {
  max-width: 400px;
  margin: 50px auto;
  img {
    display: block;
    margin: auto;
  }
  ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    li {
      border: 1px solid #1e90ff;
      list-style-type: none;
      padding: 15px 10px;
    }
  }
}
